# # Import necessary package

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

##  Import Data

In [23]:
inspections = pd.read_csv('../rawdata/inspections.csv')
violations = pd.read_csv('../rawdata/violations.csv')

## Data Exploration

### Inspections Data

In [24]:
inspections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191371 entries, 0 to 191370
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   activity_date        191371 non-null  object
 1   employee_id          191371 non-null  object
 2   facility_address     191371 non-null  object
 3   facility_city        191371 non-null  object
 4   facility_id          191371 non-null  object
 5   facility_name        191371 non-null  object
 6   facility_state       191371 non-null  object
 7   facility_zip         191371 non-null  object
 8   grade                191371 non-null  object
 9   owner_id             191371 non-null  object
 10  owner_name           191371 non-null  object
 11  pe_description       191371 non-null  object
 12  program_element_pe   191371 non-null  int64
 13  program_name         190969 non-null  object
 14  program_status       191371 non-null  object
 15  record_id            191371 non-null  object
 16  score                191371 non-null  int64
 17  serial_number        191371 non-null  object
 18  service_code         191371 non-null  int64
 19  service_description  191371 non-null  object
dtypes: int64(3), object(17)
memory usage: 29.2+ MB

info() shows us that all rows and columns don't contain NaN.

In [25]:
inspections.head()

,activity_date,employee_id,facility_address,facility_city,facility_id,facility_name,facility_state,facility_zip,grade,owner_id,owner_name,pe_description,program_element_pe,program_name,program_status,record_id,score,serial_number,service_code,service_description
0,2017-05-09,EE0000593,17660 CHATSWORTH ST,GRANADA HILLS,FA0175397,HOVIK'S FAMOUS MEAT & DELI,CA,91344,A,OW0181955,JOHN'S FAMOUS MEAT & DELI INC.,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,HOVIK'S FAMOUS MEAT & DELI,ACTIVE,PR0168541,98,DAHDRUQZO,1,ROUTINE INSPECTION
1,2017-04-10,EE0000126,3615 PACIFIC COAST HWY,TORRANCE,FA0242138,SHAKEY'S PIZZA,CA,90505,A,OW0237843,"SCO, LLC",RESTAURANT (61-150) SEATS HIGH RISK,1638,SHAKEY'S PIZZA,ACTIVE,PR0190290,94,DAL3SBUE0,1,ROUTINE INSPECTION
2,2017-04-04,EE0000593,17515 CHATSWORTH ST,GRANADA HILLS,FA0007801,BAITH AL HALAL,CA,91344,A,OW0031150,SABIR MOHAMMAD SHAHID,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,BAITH AL HALAL,INACTIVE,PR0036723,95,DAL2PIKJU,1,ROUTINE INSPECTION
3,2017-08-15,EE0000971,44455 VALLEY CENTRAL WAY,LANCASTER,FA0013858,FOOD 4 LESS #306,CA,93536,A,OW0012108,"FOOD 4 LESS, INC.",RESTAURANT (0-30) SEATS HIGH RISK,1632,FOOD 4 LESS DELI/BAKERY#306,ACTIVE,PR0039905,98,DA0ZMAJXZ,1,ROUTINE INSPECTION
4,2016-09-26,EE0000145,11700 SOUTH ST,ARTESIA,FA0179671,PHO LITTLE SAIGON,CA,90701,A,OW0185167,PHO SOUTH ST INC,RESTAURANT (61-150) SEATS HIGH RISK,1638,PHO LITTLE SAIGON,ACTIVE,PR0173311,96,DA41DBXA2,1,ROUTINE INSPECTION

In [26]:
inspections.nunique()

activity_date             742
employee_id               250
facility_address        39283
facility_city             181
facility_id             44031
facility_name           36627
facility_state              3
facility_zip             3037
grade                       4
owner_id                35713
owner_name              34708
pe_description             18
program_element_pe         18
program_name            38988
program_status              2
record_id               47445
score                      45
serial_number          191371
service_code                2
service_description         2
dtype: int64

serial_number is unique for each row. 
service_code, program status, and service_description are categorical
Why is there more facility_id values compared to facility_address or facility_name?

info() shows us that all rows and columns don't contain NaN.

In [91]:
vc_id = inspections['facility_id'].value_counts()
vc_id

FA0019271    380
FA0006427    240
FA0065100    224
FA0170909    180
FA0170678    147
            ...
FA0165546      1
FA0252226      1
FA0250416      1
FA0241536      1
FA0141530      1
Name: facility_id, Length: 44031, dtype: int64

In [93]:
vc_address = inspections['facility_address'].value_counts()
vc_address

1000 VIN SCULLY AVE         383
1111 S FIGUEROA ST          244
3911 S FIGUEROA ST          224
100 UNIVERSAL CITY PLZ      185
285 W HUNTINGTON DR         157
                           ...
888 S FIGUEROA ST #120        1
3842 E 1ST ST                 1
13325 MOOREPARK AVE           1
2901 WHITTIER BLVD STE F      1
511 E OLYMPIC BLVD            1
Name: facility_address, Length: 39283, dtype: int64

### Violations Data

In [13]:
violations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906014 entries, 0 to 906013
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   points                 906014 non-null  int64
 1   serial_number          906014 non-null  object
 2   violation_code         906014 non-null  object
 3   violation_description  906014 non-null  object
 4   violation_status       906014 non-null  object
dtypes: int64(1), object(4)
memory usage: 34.6+ MB

In [14]:
violations.head()

,points,serial_number,violation_code,violation_description,violation_status
0,1,DAJ5UNMSF,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE
1,4,DAT2HKIRE,F007,# 07. Proper hot and cold holding temperatures,OUT OF COMPLIANCE
2,1,DAT2HKIRE,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE
3,1,DAT2HKIRE,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
4,1,DAQN0I8EA,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE

There are no NaN in the data frame. 
The identifiers connecting both data sets will be serial_number. 
Violation_description describes the violation that occured.